.title {
    margin: auto;
    width: 50%;
    text-align: center;
}

div > h1.common_title {
    font-size: 150%;
    font-family: Arial Black;
    text-align: left;
    vertical-align: bottom;
    margin-top:10; margin-left: 8;
}


/* body part */
.row {
    margin: auto;
    width: 50%;
    padding: 10px;
}

header {
    width: 50%;
    margin: auto;
}

header .container {
    align-items: center;
}

span.Covid_Confirm, span.Covid_Death {
    font-size: 90%;
    font-family: Arial Black;
}

div > div > div > span {
    font-size: 80%;
    font-family: Arial Black;
}