.title {
    margin: auto;
    width: 50%;
    text-align: center;
}

.row {
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

header {
    width: 50%;
    margin: auto;
}

header .container {
    align-items: center;
}

section.googlemap .container {
    padding-top: 10px;
    position: relative;
    width: 100%;
}

section.googlemap .ratio{
    overflow: hidden;
}
