<!-- file name : index.html-->
<!-- pwd : project_name/app/templates/main/index.html-->

<link rel="stylesheet", href="{{url_for('static', filename='main.css')}}">


<html>
    <head>
        This is Main page
    </head>
    <body>
        <div class='initDesc'>
            <h1 class='textArea'; onclick="location.href='/index';">
                <span style='color: rgba(255,255,255,1)'>COVID-19</span>
                <span style='color: rgba(255,230,153,1)'> Around Us</span>
            </h1>
        </div>
    </body>
</html>